Backup/
resources/
resource/
jre/
*.zip
*.idml
**/tmx_2/flag
Data_compare/
Batch PRT/
Delta_Extractor
json/
temp/
_Common_Tool/tmx2xml-transform/config.ini
_Common_Tool/tmx2xml-transform/json/update.txt
_Common_Tool/tmx2xml-transform/log.txt
_Common_Tool/tmx2xml-transform/config.ini
_Common_Tool/tmx2xml-transform/json/update.txt
_Common_Tool/tmx2xml-transform/log.txt
output/
