.screen_5_1_1 {background-image:url(../img/img_5_1_1.png);}
.screen_5_2_1 {background-image:url(../img/img_5_2_1.png);}
.screen_5_2_2 {background-image:url(../img/img_5_2_2_1.png);}
.screen_5_3_1 {background-image:url(../img/img_5_3_1_1.png);}
.screen_5_3_2 {background-image:url(../img/img_5_3_2.png);}
.screen_5_3_3 {background-image:url(../img/img_5_3_3.png);}


.item_first {display:none;}
/********************************************/
/*											*/
/*					STEP 01					*/
/*											*/
/********************************************/

/******** ITEM 5 - 1 - 1 **********/
.screen_5_1_1 {
    background-size:275px 275px;
	/* animation */
	animation-duration:1s;
	animation-delay:0.5s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
}
.section li.on .screen_5_1_1 {
	animation-name:screen_5_1_1;
}
@keyframes screen_5_1_1 {
	0%   {transform:translate(0px, 0px) scale(1);}
	100% {transform:translate(1px, 2px) scale(1.2);}
}
.item_5_1_1_line_box {
	position:absolute;
	left:76px;
	right:136px;
	top:69px;
	height:162px;
	z-index:9;
	background-repeat:no-repeat;
	background-size:100%;
}
.item_5_1_1_line1,
.item_5_1_1_line2,
.item_5_1_1_line3,
.item_5_1_1_line4 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:1.5s;
}
.item_5_1_1_line1 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_1_1_line1 {
	animation-name:item_5_1_1_line1;
}
@keyframes item_5_1_1_line1 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_1_1_line2 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_1_1_line2 {
	animation-name:item_5_1_1_line2;
}
@keyframes item_5_1_1_line2 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}
.item_5_1_1_line3 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_1_1_line3 {
	animation-name:item_5_1_1_line3;
}
@keyframes item_5_1_1_line3 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_1_1_line4 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_1_1_line4 {
	animation-name:item_5_1_1_line4;
}
@keyframes item_5_1_1_line4 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}


/********************************************/
/*											*/
/*					STEP 02					*/
/*											*/
/********************************************/

/******** ITEM 5 - 2 - 1 **********/
.screen_5_2_1 {
	background-position:0px 0px;
}
.item_5_2_1_line_box {
	position:absolute;
	left:67px;
	top:60px;
	width:30px;
	height:30px;
	z-index:9;
	background-image:url(../img/img_5_2_1_z.png);
	background-repeat:no-repeat;
	background-size:90%;
	background-position:center;
	
	/* animation */
	animation-duration:1s;
	animation-delay:2s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
}
.section li.on .item_5_2_1_line_box {
	animation-name:item_5_2_1_line_box;
}
@keyframes item_5_2_1_line_box {
	0% {transform:scale(1,1);}
	100% {transform:scale(1.5,1.5);}
}
.item_5_2_1_line1,
.item_5_2_1_line2,
.item_5_2_1_line3,
.item_5_2_1_line4 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:0.01s;
}
.item_5_2_1_line1 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_1_line1 {
	animation-name:item_5_2_1_line1;
}
@keyframes item_5_2_1_line1 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_1_line2 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_1_line2 {
	animation-name:item_5_2_1_line2;
}
@keyframes item_5_2_1_line2 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}
.item_5_2_1_line3 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_1_line3 {
	animation-name:item_5_2_1_line3;
}
@keyframes item_5_2_1_line3 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_1_line4 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_1_line4 {
	animation-name:item_5_2_1_line4;
}
@keyframes item_5_2_1_line4 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}


/******** ITEM 5 - 2 - 2 **********/
.screen_5_2_2,
.screen_5_2_2a,
.screen_5_2_2b,
.screen_5_2_2c{

	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-direction:alternate;
	animation-duration:5s;
	animation-delay:1s;
}
.screen_5_2_2 {
    background-image:url(../img/img_5_2_2_1.png);
}
.screen_5_2_2a {
    background-image:url(../img/img_5_2_2_2.png);
    opacity:0;
	z-index:97;
}
.screen_5_2_2b {
    background-image:url(../img/img_5_2_2_3.png);
    opacity:0;
	z-index:98;
}
.screen_5_2_2c {
    background-image:url(../img/img_5_2_2_4.png);
    opacity:0;
	z-index:99;
}
.section li.on .screen_5_2_2a {
	animation-name:screen_5_2_2a;
}
.section li.on .screen_5_2_2b {
	animation-name:screen_5_2_2b;
}
.section li.on .screen_5_2_2c {
	animation-name:screen_5_2_2c;
}
@keyframes screen_5_2_2a {
	0%   {opacity:0;}
	30%  {opacity:0; }
	35%  {opacity:1; }
	100% {opacity:1; }
}
@keyframes screen_5_2_2b {
	0%   {opacity:0;}
	60%  {opacity:0; }
	65%  {opacity:1; }
	100% {opacity:1; }
}
@keyframes screen_5_2_2c {
	0%   {opacity:0;}
	90%  {opacity:0; }
	95%  {opacity:1; }
	100% {opacity:1; }
}

.item_5_2_2_line_box {
	position:absolute;
	left:80px;
	right:101px;
	top:124px;
	height:21px;
	z-index:9;

}
.item_5_2_2_line_box2 {
	position:absolute;
	left:80px;
	right:101px;
	top:124px;
	height:21px;
	z-index:100;

}

.item_5_2_2_line1,
.item_5_2_2_line2,
.item_5_2_2_line3,
.item_5_2_2_line4 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:0.5s;
}
.item_5_2_2_line1 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_2_line1 {
	animation-name:item_5_2_2_line1;
}
@keyframes item_5_2_2_line1 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_2_line2 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_2_line2 {
	animation-name:item_5_2_2_line2;
}
@keyframes item_5_2_2_line2 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}
.item_5_2_2_line3 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_2_line3 {
	animation-name:item_5_2_2_line3;
}
@keyframes item_5_2_2_line3 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_2_line4 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_2_line4 {
	animation-name:item_5_2_2_line4;
}
@keyframes item_5_2_2_line4 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}


.item_5_2_2_line21,
.item_5_2_2_line22,
.item_5_2_2_line23,
.item_5_2_2_line24 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:7s;
}
.item_5_2_2_line21 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_2_line21 {
	animation-name:item_5_2_2_line21;
}
@keyframes item_5_2_2_line21 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_2_line22 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_2_line22 {
	animation-name:item_5_2_2_line22;
}
@keyframes item_5_2_2_line22 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}
.item_5_2_2_line23 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_2_2_line23 {
	animation-name:item_5_2_2_line23;
}
@keyframes item_5_2_2_line23 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_2_2_line24 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_2_2_line24 {
	animation-name:item_5_2_2_line24;
}
@keyframes item_5_2_2_line24 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}


/********************************************/
/*											*/
/*					STEP 03					*/
/*											*/
/********************************************/

/******** ITEM 5 - 3 - 1 **********/
.screen_5_3_1,
.screen_5_3_1a{

	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: linear;
	animation-direction:alternate;
	animation-duration:0.5s;
	animation-delay:2s;
}
.screen_5_3_1 {
    background-image:url(../img/img_5_3_1_1.png);
}
.screen_5_3_1a {
    background-image:url(../img/img_5_3_1_2.png);
    opacity:0;
	z-index:10;
}
.section li.on .screen_5_3_1a {
	animation-name:screen_5_3_1a;
}
@keyframes screen_5_3_1a {
	0%   {opacity:0;}
	100% {opacity:1; }
}

.item_5_3_1_line_box {
	position:absolute;
	left:80px;
	top:170px;
	width:63px;
	height:23px;
	z-index:9;
}
.item_5_3_1_line1,
.item_5_3_1_line2,
.item_5_3_1_line3,
.item_5_3_1_line4 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:0.01s;
}
.item_5_3_1_line1 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_1_line1 {
	animation-name:item_5_3_1_line1;
}
@keyframes item_5_3_1_line1 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_3_1_line2 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_1_line2 {
	animation-name:item_5_3_1_line2;
}
@keyframes item_5_3_1_line2 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100% {height:100%;}
}
.item_5_3_1_line3 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_1_line3 {
	animation-name:item_5_3_1_line3;
}
@keyframes item_5_3_1_line3 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100% {width:100%;}
}
.item_5_3_1_line4 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_1_line4 {
	animation-name:item_5_3_1_line4;
}
@keyframes item_5_3_1_line4 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100%  {height:100%;}
}


.item_5_3_1_line_box2 {
	position:absolute;
	left:140px;
	top:134px;
	width:66px;
	height:68px;
	z-index:11;
}
.item_5_3_1_line21,
.item_5_3_1_line22,
.item_5_3_1_line23,
.item_5_3_1_line24 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:3s;
}
.item_5_3_1_line21 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_1_line21 {
	animation-name:item_5_3_1_line21;
}
@keyframes item_5_3_1_line21 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100%  {width:100%;}
}
.item_5_3_1_line22 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_1_line22 {
	animation-name:item_5_3_1_line22;
}
@keyframes item_5_3_1_line22 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100%  {height:100%;}
}
.item_5_3_1_line23 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_1_line23 {
	animation-name:item_5_3_1_line23;
}
@keyframes item_5_3_1_line23 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%;}
	/* blink */
	100%  {width:100%;}
}
.item_5_3_1_line24 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_1_line24 {
	animation-name:item_5_3_1_line24;
}
@keyframes item_5_3_1_line24 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%;}
	/* blink */
	100%  {height:100%;}
}



/******** ITEM 5 - 3 - 2 **********/
.item_5_3_2_line_box {
	position:absolute;
	left:78px;
	right:80px;
	top:190px;
	height:27px;
	z-index:9;

}

.item_5_3_2_line1,
.item_5_3_2_line2,
.item_5_3_2_line3,
.item_5_3_2_line4 {
	position:absolute;
	background-color:rgba(9,173,212,1);
	
	/* animation */
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.35, 1.15, 1, 1);
	animation-direction:alternate;
	animation-duration:4s;
	animation-delay:0.5s;
}
.item_5_3_2_line1 {
	top:0px;
	left:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_2_line1 {
	animation-name:item_5_3_2_line1;
}
@keyframes item_5_3_2_line1 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:100%;}
	/* 2 */
	16%  {width:100%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%; background-color:rgba(9,173,212,1);}
	/* blink */
	55%  {width:100%; background-color:rgba(9,173,212,0);}
	70%  {width:100%; background-color:rgba(9,173,212,1);}
	85%  {width:100%; background-color:rgba(9,173,212,0);}
	100% {width:100%; background-color:rgba(9,173,212,1);}
}
.item_5_3_2_line2 {
	top:0px;
	right:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_2_line2 {
	animation-name:item_5_3_2_line2;
}
@keyframes item_5_3_2_line2 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:100%;}
	/* 3 */
	24%  {height:100%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%; background-color:rgba(9,173,212,1);}
	/* blink */
	55%  {height:100%; background-color:rgba(9,173,212,0);}
	70%  {height:100%; background-color:rgba(9,173,212,1);}
	85%  {height:100%; background-color:rgba(9,173,212,0);}
	100% {height:100%; background-color:rgba(9,173,212,1);}
}
.item_5_3_2_line3 {
	bottom:0px;
	right:0px;
	width:0%;
	height:2px;
}
.section li.on .item_5_3_2_line3 {
	animation-name:item_5_3_2_line3;
}
@keyframes item_5_3_2_line3 {
	0%   {width:0%;}
	/* 1 */
	8%   {width:0%;}
	/* 2 */
	16%  {width:0%;}
	/* 3 */
	24%  {width:100%;}
	/* 4 */
	32%  {width:100%;}
	/* zoom */
	40%  {width:100%; background-color:rgba(9,173,212,1);}
	/* blink */
	55%  {width:100%; background-color:rgba(9,173,212,0);}
	70%  {width:100%; background-color:rgba(9,173,212,1);}
	85%  {width:100%; background-color:rgba(9,173,212,0);}
	100% {width:100%; background-color:rgba(9,173,212,1);}
}
.item_5_3_2_line4 {
	bottom:0px;
	left:0px;
	width:2px;
	height:0%;
}
.section li.on .item_5_3_2_line4 {
	animation-name:item_5_3_2_line4;
}
@keyframes item_5_3_2_line4 {
	0%   {height:0%;}
	/* 1 */
	8%   {height:0%;}
	/* 2 */
	16%  {height:0%;}
	/* 3 */
	24%  {height:0%;}
	/* 4 */
	32%  {height:100%;}
	/* zoom */
	40%  {height:100%; background-color:rgba(9,173,212,1);}
	/* blink */
	55%  {height:100%; background-color:rgba(9,173,212,0);}
	70%  {height:100%; background-color:rgba(9,173,212,1);}
	85%  {height:100%; background-color:rgba(9,173,212,0);}
	100% {height:100%; background-color:rgba(9,173,212,1);}
}



/* PC 이미지 */
@media(min-width:1000px) {
.screen_5_1_1 {background-image:url(../img/pc/img_5_1_1.png);}
.screen_5_2_1 {background-image:url(../img/pc/img_5_2_1.png);}
.screen_5_2_2 {background-image:url(../img/pc/img_5_2_2_1.png);}
.screen_5_2_2a {background-image:url(../img/pc/img_5_2_2_2.png);}
.screen_5_2_2b {background-image:url(../img/pc/img_5_2_2_3.png);}
.screen_5_2_2c {background-image:url(../img/pc/img_5_2_2_4.png);}
.screen_5_3_1 {background-image:url(../img/pc/img_5_3_1_1.png);}
.screen_5_3_1a {background-image:url(../img/pc/img_5_3_1_2.png);}
.screen_5_3_2 {background-image:url(../img/pc/img_5_3_2.png);}
.screen_5_3_3 {background-image:url(../img/pc/img_5_3_3.png);}
}