<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
  <fontset id="Legacy">
    <style lang="Albanian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Bulgarian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Croatian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Czech" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Danish" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Dutch" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="English" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="12.0" leading="13.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Estonian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Finnish" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="French" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="German" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Greek" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="HK_TC" para-name="FZXSSB--B51-0" char-name="FZH4B--B51-0" size="12.0" leading="13.0" horizon="100" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Hungarian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Indonesian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Italian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Kazakh/Mongolian" para-name="SegoeUI" char-name="SegoeUI-Bold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Latvian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Lithuanian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Macedonian" para-name="SegoeUI" char-name="SegoeUI-Bold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Norwegian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Polish" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Portuguese" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="PRC" para-name="FZZDXJW--GB1-0" char-name="FZLTZCHJW--GB1-0" size="12.0" leading="13.0" horizon="100" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Romanian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Russian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="SC" para-name="SimHei" char-name="DFPHeiW9" size="12.0" leading="13.0" horizon="100" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Serbian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Slovak" para-name="SegoeUI" char-name="SegoeUI-Bold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Slovenian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Spanish" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.0" leading="12.0" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Swedish" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Thai" para-name="DBThaiTextX" char-name="DBThaiTextX-Bold" size="15.0" leading="15.0" horizon="100" ligature="true" RtL="false" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Turkish" para-name="SegoeUI" char-name="SegoeUI-Bold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Ukrainian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Uzbek" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Vietnamese" para-name="SegoeUI" char-name="SegoeUI-Bold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Urdu/Hebrew" para-name="ArialMT" char-name="Arial-BoldMT" size="11.5" leading="13.5" horizon="100" ligature="True" RtL="True" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Arabic/Farsi" para-name="ArialMT" char-name="Arial-BoldMT" size="11.5" leading="13.5" horizon="100" ligature="True" RtL="True" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Myanmar" para-name="Zawgyi-One" char-name="Zawgyi-One" size="10" leading="17" horizon="100" ligature="False" RtL="false" color="ff000000" charTag-style="C_MMI" composer="2" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Lao" para-name="NotoSansLao" char-name="NotoSansLao-Bold" size="11" leading="13" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="10" />
    <style lang="Bengali" para-name="NotoSansBengali" char-name="NotoSansBengali-Bold" size="11" leading="13" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="11" />
    <style lang="Hindi" para-name="Mangal" char-name="Mangal-Bold" size="11.5" leading="13" horizon="95" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Khmer" para-name="NotoSansKhmer" char-name="NotoSansKhmer-Bold" size="11" leading="15" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="10" />
    <style lang="[QSG]MyriadPro" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="18" leading="19" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[QSG]SegoeUI" para-name="SegoeUI" char-name="SegoeUI-Bold" size="18" leading="19" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[QSG]Arial" para-name="ArialMT" char-name="Arial-BoldMT" size="18" leading="20" horizon="100" ligature="True" RtL="True" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[QSG]Notosans_Lao" para-name="NotoSansLao" char-name="NotoSansLao-Bold" size="16" leading="20" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="15" />
    <style lang="[QSG]Thai" para-name="DBThaiTextX" char-name="DBThaiTextX-Bold" size="22" leading="22" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[simple_QSG]MyriadPro" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="16.5" leading="17.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="-10" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[simple_QSG]SegoeUI" para-name="SegoeUI" char-name="SegoeUI-Bold" size="16.5" leading="17.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[simple_QSG]Arial" para-name="ArialMT" char-name="Arial-BoldMT" size="16.5" leading="17.5" horizon="100" ligature="True" RtL="True" color="ff000000" charTag-style="C_MMI" composer="1" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[simple_QSG]HK_TC" para-name="FZXSSB--B51-0" char-name="FZH4B--B51-0" size="16.5" leading="17.5" horizon="100" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[simple_QSG]Hindi" para-name="Mangal" char-name="Mangal-Bold" size="16.5" leading="18" horizon="95" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[QSG]SC" para-name="SimHei" char-name="DFPHeiW9" size="18" leading="19" horizon="100" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="[QSG]Notosans_Ben" para-name="NotoSansBengali" char-name="NotoSansBengali-Bold" size="16" leading="20" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="16" />
    <style lang="[QSG]Notosans_Khm" para-name="NotoSansKhmer" char-name="NotoSansKhmer-Bold" size="16" leading="20" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="15" />
    <style lang="[QSG]Notosnas_Geo" para-name="NotoSansGeorgian" char-name="NotoSansGeorgian-Bold" size="15" leading="19" horizon="100" ligature="True" RtL="false" color="ff000000" charTag-style="C_MMI, C_Eng" composer="1" kerning="null" eng-tag-name="C_Eng" eng-char-name="NotoSans-Regular" eng-size="15" />
    <style lang="[QSG]Myanmar" para-name="Zawgyi-One" char-name="Zawgyi-One" size="16" leading="24" horizon="100" ligature="False" RtL="false" color="ff000000" charTag-style="C_MMI" composer="2" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
  </fontset>

  <fontset id="Samsung One">
    <style lang="Albanian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="11.5" leading="12.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
    <style lang="Bulgarian" para-name="MyriadPro-Regular" char-name="MyriadPro-Semibold" size="10.5" leading="11.5" horizon="95" ligature="false" RtL="false" color="ff000000" charTag-style="C_MMI" composer="null" kerning="null" eng-tag-name="null" eng-char-name="null" eng-size="null" />
  </fontset>
</root>